/****** Object:  Database [SpeakingLogs]    Script Date: 15/05/2019 09:29:55 ******/
CREATE DATABASE [SpeakingLogs]  (EDITION = 'Standard', SERVICE_OBJECTIVE = 'S0', MAXSIZE = 10 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS;
GO
/****** Object:  Table [dbo].[SpeakingLog]    Script Date: 15/05/2019 09:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpeakingLog](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[TalkDate] [date] NOT NULL,
	[EventName] [varchar](255) NOT NULL,
	[City] [varchar](255) NULL,
	[Country] [varchar](255) NULL,
	[Postcode] [varchar](20) NULL,
	[Attendance] [int] NULL,
	[Tags] [nvarchar](1024) NULL,
	[TalkType] [varchar](100) NULL,
	[TalkLevel] [int] NULL,
 CONSTRAINT [PK_SpeakingLog] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[RecordCountByTags]    Script Date: 15/05/2019 09:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[RecordCountByTags]
AS

SELECT 
	LTRIM(RTRIM(VALUE)) AS Tag,
	COUNT(*) AS RecordCount
FROM 
	[dbo].[SpeakingLog]
	CROSS APPLY STRING_SPLIT([Tags],',')
GROUP BY
	VALUE

GO
/****** Object:  View [dbo].[TagsSplit]    Script Date: 15/05/2019 09:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TagsSplit]
AS

SELECT 
	LogId,
	LTRIM(RTRIM(VALUE)) AS Tag,
	COUNT(*) AS RecordCount
FROM 
	[dbo].[SpeakingLog]
	CROSS APPLY STRING_SPLIT([Tags],',')
GROUP BY
	LogId,
	VALUE

GO
/****** Object:  Table [dbo].[EventLogos]    Script Date: 15/05/2019 09:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventLogos](
	[EventName] [varchar](255) NOT NULL,
	[ImageURL] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
